<ion-header [translucent]="true">
  <ion-toolbar>
    <button *ngIf="promptEvent" (click)="onInstall()">Install</button>
    <ion-title>
      header de la page
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu($event)">
        <ion-icon slot="icon-only"
                  ios="ellipsis-horizontal"
                  md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title size="large">contenu de la page</ion-title>
  </ion-toolbar>
  <button (click)="openAlert()">ouvrir l'alerte</button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>footer de la page</ion-title>
  </ion-toolbar>
</ion-footer>
